@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #2E2E2E;
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;
    background-color: #EDEDED;
}

.scoreboards-container {
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5rem;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    width: 50%;
    background-color: #2E2E2E;
    border: solid 3px #8f69bb;
    border-radius: 20px;
    color: white;
}

.selections-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

.selection-button {
    border-radius: 50%;
    border: none;
    background-color: #B0A8B9;
    transition: 250ms;
}

.selections-container h2 {
    transition: 250ms;
}

.selection-button:hover {
    cursor: pointer;
    background-color: #8f69bb;
    transform: scale(0.95);
}

.selection-button:hover+h2 {
    color: #B0A8B9;
}

.selection-img {
    width: 200px;
}

.feedback-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-top: 2rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.feedback-icon {
    width: 100px;
    height: auto;
    transition: 300ms;
}

.hidden {
    display: none;
}

.start-button,
.reset-button {
    padding: 1rem 2rem;
    background-color: #8f69bb;
    border: solid 3px #bdb1ca;
    border-radius: 20px;
    color: white;
    transition: 400ms;
}

.start-button:hover,
.reset-button:hover {
    cursor: pointer;
    background-color: #bdb1ca;
    border: solid 3px #8f69bb;
}